.container{
  width:100%;
  min-height: 100vh;
  background-color: #424549;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}


h1{
  margin-bottom: 14px;
  color: #FFF;
}

.form{
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
  padding: 14px;
  background-color: #1e2124;
  border-radius: 4px;
  margin: 8px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form label{
  color: #fff;
  margin: 8px 0;
}

.input{
  background-color: #424549;
  border:0;
  padding: 4px 6px;
  height: 34px;
  margin-bottom: 8px;
  color: #FFF;
  border-radius: 4px;
}

.form button{
  background-color: #7e5eff;
  border:0;
  height: 34px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  margin-top: 8px;
  cursor: pointer;
}

.result{
  margin: 24px 0;
}

.result h2 {
  color: #FFF;
}

.result span{
  background-color: rgb(0, 0, 0, 0.4);
  padding: 2px;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  font-weight: 900;
  padding: 14px 0;
}